# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# Heavy / Private Data
data/
experiments/
Neurofinance/
docs/
.env
*.csv
*.xlsx
